<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InventoryManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AddProductController</display-name>
    <servlet-name>AddProductController</servlet-name>
    <servlet-class>com.modeln.AddProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProductController</servlet-name>
    <url-pattern>/addproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductsController</display-name>
    <servlet-name>GetProductsController</servlet-name>
    <servlet-class>com.modeln.GetProductsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductsController</servlet-name>
    <url-pattern>/getproducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductController</display-name>
    <servlet-name>DeleteProductController</servlet-name>
    <servlet-class>com.modeln.DeleteProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductController</servlet-name>
    <url-pattern>/deleteproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteExpireDateOver</display-name>
    <servlet-name>DeleteExpireDateOver</servlet-name>
    <servlet-class>com.modeln.DeleteExpireDateOver</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExpireDateOver</servlet-name>
    <url-pattern>/deleteexpiredate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductController</display-name>
    <servlet-name>UpdateProductController</servlet-name>
    <servlet-class>com.modeln.UpdateProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductController</servlet-name>
    <url-pattern>/updateproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteExpiredProducts</display-name>
    <servlet-name>DeleteExpiredProducts</servlet-name>
    <servlet-class>com.modeln.DeleteExpiredProducts</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteExpiredProducts</servlet-name>
    <url-pattern>/deleteexpired</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductExpireDate</display-name>
    <servlet-name>UpdateProductExpireDate</servlet-name>
    <servlet-class>com.modeln.UpdateProductExpireDate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductExpireDate</servlet-name>
    <url-pattern>/updateexpiredate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductById</display-name>
    <servlet-name>GetProductById</servlet-name>
    <servlet-class>com.modeln.GetProductById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductById</servlet-name>
    <url-pattern>/getproductbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CalculateDiscount</display-name>
    <servlet-name>CalculateDiscount</servlet-name>
    <servlet-class>com.modeln.CalculateDiscount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateDiscount</servlet-name>
    <url-pattern>/calculatediscount</url-pattern>
  </servlet-mapping>
</web-app>